<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Controller.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Controller.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>Controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ERROR</servlet-name>
        <servlet-class>Controlador.ERROR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eventos</servlet-name>
        <servlet-class>Controller.Eventos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarDetalle</servlet-name>
        <servlet-class>Controller.AgregarDetalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AggDetalle</servlet-name>
        <servlet-class>Controller.AggDetalle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ERROR</servlet-name>
        <url-pattern>/ERROR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eventos</servlet-name>
        <url-pattern>/Eventos</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/paginas-error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/paginas-error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/paginas-error/404.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>AgregarDetalle</servlet-name>
        <url-pattern>/AgregarDetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AggDetalle</servlet-name>
        <url-pattern>/AggDetalle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            <!-- ======== MINUTOS POR SESION ACTIVA ======== -->
            15
        </session-timeout>
    </session-config>
</web-app>
